<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="WCFPOPS.POPS" behaviorConfiguration="serviceBehavior">
        <endpoint address="http://localhost:1234/POPS" 
                  bindingConfiguration=""
                  contract="WCFPOPS.IPOPS" name="httpEndpoint">
        </endpoint>
      </service>
    </services>
  <behaviors>
    <serviceBehaviors>
      <behavior name="serviceBehavior">
        <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:1234/POPS"/>
      </behavior>
    </serviceBehaviors>
  </behaviors>
  </system.serviceModel>
</configuration>