<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="WCFPOPS.POPS">
        <endpoint address="http://localhost:1234/POPS" 
                  bindingConfiguration="basicHttpBinding" 
                  contract="WCFPOPS.IPOPS">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>